# Cognito configuration
VITE_COGNITO_DOMAIN=https://us-east-1mswmpq2ea.auth.us-east-1.amazoncognito.com
VITE_COGNITO_CLIENT_ID=25a6n05qh9ndqblur9n0oqsdag
VITE_COGNITO_REDIRECT_URI=http://127.0.0.1:5173/auth/callback

# Paste the SessionsApiUrl output from the AWS SAM deployment.
VITE_SESSIONS_API_URL=https://your-api-id.execute-api.us-east-1.amazonaws.com
